
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.footer{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 1250px; */
    width: 100%;
    background: #1e2326;
    border-radius: 5px;
    margin-top: 30%;
}

.footer .footer-row{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.footer .footer-content h2{
    color: orange;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-content .links{
    margin-top: 20px;
}

.footer-content .links li{
    list-style: none;
    margin-bottom: 10px;
}

.footer-content .links li a:hover{
    color: white;
}

.footer-content p{
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-content .icon{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-content .icon a{
    font-size: 30px;
    color: #fff;
}

.footer-content .icon a:hover{
    color: #ffa500;
}

@media(max-width: 768px){
    .footer{
        position: absolute;
        top: 100%;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row{
        padding: 20px;
        gap: 1rem;
    }

}